@font-face {
  font-family: 'cheria'; /* A name to reference the font later */
  src: url('fonts/Cheria\ DEMO.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Helps control font loading behavior */
}

@font-face {
  font-family: 'chunko bold'; /* A name to reference the font later */
  src: url('fonts/Chunko\ Bold\ Demo.ttf'); 
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Helps control font loading behavior */
}

@font-face {
  font-family: 'merriweather'; /* A name to reference the font later */
  src: url('fonts/Merriweather-VariableFont_opsz\,wdth\,wght.ttf'); 
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Helps control font loading behavior */
}

@font-face {
  font-family: 'roboto'; /* A name to reference the font later */
  src: url('fonts/Roboto-VariableFont_wdth\,wght.ttf'); 
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Helps control font loading behavior */
}

@font-face {
  font-family: 'ia quattro'; /* A name to reference the font later */
  src: url('fonts/ia-writer-quattro-latin-400-normal.ttf'); 
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Helps control font loading behavior */
}

@font-face {
  font-family: 'ia quattro bold'; /* A name to reference the font later */
  src: url('fonts/ia-writer-quattro-latin-700-normal.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Helps control font loading behavior */
}

html, body {
  margin: 0;
  height: 100%;
}

#info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display:block;
  color: #fff
}

#c {
  width: 100%;
  height: 100%;
  display: block;
}

.planet_description {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 1000px;
  text-align: center;
  z-index: 100;
  display:None;
  color: #fff;
  font-family: 'ia quattro', Arial, Helvetica, sans-serif;
}

#home_button {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display:block;
  color: #ddd;
  font-family: 'chunko bold'
}

#home_button:hover {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display:block;
  color: #fff;
  font-family: 'chunko bold'
}

h1 {
  font-family: 'chunko bold', Arial, Helvetica, sans-serif;
  font-kerning: normal;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: clamp(24px, 10vw, 100px);
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  font-family: 'ia quattro bold';
  font-weight: normal;
}